<div class="pwa-container">
    <h1 style="color: green">
        My First PWA!</h1> <br>
    <b>Hello BTS, {{ currentTime }} {{msg}}!!</b><br>
    <h3 style="color: crimson;">How can you create your First PWA?</h3>
    <ol>
        <li>Run <code>ng add &#64;angular/pwa</code></li>
        <li>ngsw-config.json, manifest.webmanifest files will be created.</li>
        <li>Setup the <code>ServiceWorker</code> cache config on angular.json</li>
        <li>Add the ServiceWorker provider on main.ts</li>
        <li>Build and test the PWA in production mode.</li>
    </ol>
</div>